.prank{
    display: var(--prank);
    z-index:1;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: clamp(400px, 100vw, 450px);
    height: 100vh;

    background-color: var(--bgc);
    color: white;
}
.body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: flex-start;

    /* border: 1px solid red; */
    padding: 10%;
    color: white;
    text-align: center;

    label{
        margin: 5% 0 0 0;
        font-size: calc(var(--txtsz)*0.6);
        font-weight: 600;
    }
    p{
        margin: 5% 0 0 0;
        font-size: calc(var(--txtsz)*0.42);
    }
    .pic{
        margin: 10% 0 0 0;
        background-color: gray;
        width: 130px;
        height: 130px;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-image: url('img.jpg');
        background-size: contain;
    }
}
.fnc{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px 0;

    /* border: 1px solid red; */
    padding: 10%;
    color: white;
    text-align: center;
    margin-bottom: 20px;
}
.fnc-btn{
    background-color: transparent;
    outline: none;
    color: white;
    width: clamp(350px, 375px, 400px);
    height: 35px;
    border-radius: 100px;
    transition: 150ms ease;
    &:hover{
        transform: scale(1.05);
        background-color: #787878;
    }
}
.save{
    background-color: var(--btnlc);
    border: none;
}
.notsave{
    border: 1px solid grey;
}

@media (max-width: 600px) {
    .pic {
        width: 100px;
        height: 100px;
        background-size: contain; /* Adjust background size for mobile devices */
    }
}
